In [95]:
import pathlib
import pandas as pd

In [108]:
data_dir = pathlib.Path('/home/nika/Desktop/Thesis/')

In [109]:
!ls {data_dir}

localization_mibench_cov_no_tfidf.csv  localization_simple_cov_original.csv
localization_mibench_cov_original.csv  smwyg-artifact
localization_simple_cov_no_tfidf.csv

In [116]:
def percentage(val):
    return f'{float(val)*100:.2f}'


def read_localization_results(csv_path):
    with open(csv_path) as inp:
        data = []
        headers = next(inp).strip().split(';')
        for line in inp:
            data.append(dict(zip(headers, line.strip().split(';'))))
    
    df = pd.DataFrame(data).set_index('obfuscation')
    
    for col in ['none', 'sc_guard', 'oh_verify', 'cfi_verify']:
        df[col] = df[col].map(percentage)
        
    for col in ['none_std', 'sc_std', 'oh_std', 'cfiv_std']:
        df[col] = df[col].map(lambda x: f'{float(x):.5f}')

    return df

In [118]:
read_localization_results(data_dir / 'localization_simple_cov_original.csv')

,data_size,none,none_std,sc_guard,sc_std,oh_verify,oh_std,cfi_verify,cfiv_std
obfuscation,,,,,,,,,
BC30,32967,99.33,0.00080,97.97,0.01519,83.93,0.02179,92.93,0.01997
BC30+FLA,55905,98.33,0.00024,20.00,0.20000,4.15,0.02040,nan,nan
BC30+FLA+IS,56132,98.32,0.00016,7.62,0.16878,4.16,0.02890,nan,nan
BC30+IS,32570,99.31,0.00153,95.95,0.02156,84.85,0.03394,92.13,0.03071
BC30+IS+FLA,56480,98.36,0.00018,0.00,0.00000,13.34,0.07027,nan,nan
FLA,31649,98.25,0.00173,65.47,0.17555,44.68,0.12956,0.00,0.00000
FLA+BC30,90538,99.13,0.00057,40.84,0.11439,42.18,0.14301,15.43,0.09487
FLA+BC30+IS,90674,99.09,0.00026,19.44,0.11878,40.76,0.09670,10.83,0.05596
FLA+IS,31649,98.23,0.00216,66.15,0.14840,44.92,0.18166,nan,nan
FLA+IS+BC30,90412,99.10,0.00045,19.11,0.13419,44.47,0.09328,9.82,0.08286
NONE,11790,99.75,0.00088,99.84,0.00476,97.30,0.00890,98.35,0.01342
IS,11790,99.65,0.00180,99.85,0.00462,97.38,0.01633,96.02,0.03289
IS+BC30,32776,99.29,0.00180,96.42,0.03471,83.73,0.04113,92.86,0.01228
IS+BC30+FLA,56185,98.28,0.00033,7.55,0.07547,3.27,0.00927,3.70,0.00000
IS+FLA,31649,98.10,0.00221,54.08,0.22498,36.56,0.17581,nan,nan
IS+FLA+BC30,89260,99.08,0.00059,38.14,0.11429,37.32,0.12254,16.55,0.07282

In [117]:
read_localization_results(data_dir / 'localization_simple_cov_no_tfidf.csv')

,data_size,none,none_std,sc_guard,sc_std,oh_verify,oh_std,cfi_verify,cfiv_std
obfuscation,,,,,,,,,
BC30,32967,98.69,0.00225,79.25,0.05934,76.21,0.03322,85.54,0.04507
BC30+FLA,55905,98.32,0.00004,nan,nan,nan,nan,nan,nan
BC30+FLA+IS,56132,98.33,0.00004,nan,nan,nan,nan,nan,nan
BC30+IS,32570,98.63,0.00326,79.84,0.05414,74.87,0.03178,84.72,0.06399
BC30+IS+FLA,56480,98.35,0.00004,nan,nan,nan,nan,nan,nan
FLA,31649,97.70,0.00049,0.00,0.00000,1.23,0.01235,nan,nan
FLA+BC30,90538,98.96,0.00006,0.00,0.00000,7.67,0.03546,nan,nan
FLA+BC30+IS,90674,98.96,0.00007,nan,nan,0.72,0.01014,0.00,0.00000
FLA+IS,31649,97.71,0.00015,nan,nan,0.00,0.00000,nan,nan
FLA+IS+BC30,90412,98.97,0.00005,nan,nan,3.01,0.00949,4.08,0.00000
NONE,11790,98.54,0.00230,98.27,0.01792,84.43,0.02850,93.50,0.02901
IS,11790,98.29,0.00536,96.71,0.01457,83.35,0.05102,92.59,0.04584
IS+BC30,32776,98.74,0.00227,80.45,0.05650,76.22,0.04963,87.94,0.04595
IS+BC30+FLA,56185,98.30,0.00003,nan,nan,nan,nan,nan,nan
IS+FLA,31649,97.72,0.00008,0.00,0.00000,nan,nan,nan,nan
IS+FLA+BC30,89260,98.96,0.00006,nan,nan,1.06,0.01064,nan,nan